services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - gdash-net

  goworker:
    build: ./go-worker
    container_name: goworker
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - go-worker/.env
    restart: always
    networks:
      - gdash-net

  data-producer:
    build: ./data-acquisition
    container_name: data-producer
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - data-acquisition/.env
    restart: always
    networks:
      - gdash-net

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
    networks:
      - gdash-net
  
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    volumes:
      - mongo_data:/data/db
    networks:
      - gdash-net

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root123
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongo
    networks:
      - gdash-net

  # frontend:
  #   build: ./frontend
  #   container_name: gdash_frontend
  #   ports:
  #     - "5173:80"
  #   depends_on:
  #     - backend
  #   restart: unless-stopped
  #   env_file:
  #     - ./frontend/.env
  #   networks:
  #     - gdash-net

volumes:
  mongo_data:

networks:
  gdash-net:
    driver: bridge
