services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - gdash-net

  goworker:
    build: ./go-worker
    container_name: goworker
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - go-worker/.env
    restart: always
    networks:
      - gdash-net

  data-producer:
    build: ./data-acquisition
    container_name: data-producer
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - data-acquisition/.env
    restart: always
    networks:
      - gdash-net

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
    networks:
      - gdash-net

networks:
  gdash-net:
    driver: bridge
